.App {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 500px;/*500*/
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
}

.box {
  flex: 1;
  padding: 15px 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 27px;/*27*/
  /*font-weight: bold;*/
  color: #333;
  background-color: #f9f9f9;
  min-height: 20px;/*20*/
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  transition: all 0.3s ease;
}


.left.box {
  justify-content: right;
}

.right.box {
  justify-content: left;
}


.single.box {
  min-width: 30px;
  justify-content: center;
  
}


.generate-btn {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #0078D6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-btn:hover {
  opacity: 0.8;
}


  @media (max-width: 768px) {
  .App {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 320px;/*500*/
}

h1 {
  color: #333;
  margin-bottom: 40px;
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  gap: 7px;
}

.box {
  flex: 1;
  padding: 3px 1px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 20px;/*27*/
  /*font-weight: bold;*/
  color: #333;
  background-color: #f9f9f9;
  min-height: 10px;/*20*/
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  transition: all 0.3s ease;
}



.left.box {
  justify-content: right;
}

.right.box {
  justify-content: left;
}


.single.box {
  min-width: 30px;
  justify-content: center;
  
}


.generate-btn {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #0078D6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-btn:hover {
  opacity: 0.8;
}
  }
  
  
