.App {
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 500px;/*500*/
  
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 20px;
  /*padding: 0 0px;*/
}

.box {
  flex: 1;
  padding: 15px 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 27px;/*27*/
  /*font-weight: bold;*/
  color: #333;
  background-color: #f9f9f9;
  min-height: 20px;/*20*/
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  transition: all 0.3s ease;
}


.left.box {
  justify-content: right;
}

.right.box {
  justify-content: left;
}


.single.box {
  min-width: 30px;
  justify-content: center;
  
}


.generate-btn {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #0078D6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-btn:hover {
  opacity: 0.8;
}


/* 右上角按钮 */
.about-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  z-index: 1000;
}

/* 小界面基础样式 */
.about-panel {
  position: fixed;
  top: 60px; /* 按钮下面一点 */
  right: 20px;
  width: 150px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
  z-index: 999;
}

/* 展开后的更大尺寸 */
.about-panel-expanded {
  width: 150px;
  min-height: 150px;
}

/* 链接列表 */
.link-list p {
  margin: 8px 0;
  color: #0077cc;
  cursor: pointer;
  text-decoration: underline;
}

.link-list p:hover {
  color: #005fa3;
}

/* 详细内容 */
.detail {
  text-align: left;
}

.detail img,
.detail video.media {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}



.detail p {
  font-size: 17px;
  color: #333;
}

.github-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db; /* 蓝色背景 */
    color: white;
    padding: 1px 10px;
    border-radius: 9px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* 与下方内容保持间距 */
    width: fit-content;
  }
  
  .github-button:hover {
    background-color: #2980b9; /* 悬停变色 */
  }
  
  .github-button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-top: 8px;
  }


  @media (max-width: 768px) {
  .App {
  text-align: center;
  padding: 15px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 340px;/*500*/
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

.boxes-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 7px;
}

.box {
  flex: 1;
  padding: 15px 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 22px;/*27*/
  /*font-weight: bold;*/
  color: #333;
  background-color: #f9f9f9;
  min-height: 10px;/*20*/
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  transition: all 0.3s ease;
}



.left.box {
  justify-content: right;
}

.right.box {
  justify-content: left;
}


.single.box {
  min-width: 30px;
  justify-content: center;
  
}


.generate-btn {
  padding: 12px 30px;
  font-size: 18px;
  background-color: #0078D6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.generate-btn:hover {
  opacity: 0.8;
}
  }
  
  
